<div
	class="mx-auto">

	{# Smokers allowed switch #}
	<div class="d-inline-flex form-check form-switch ps-0 ps-sm-3 ps-xl-0 mb-4 mx-5">
test
	</div>

	{# Pets allowed switch #}
	<div class="d-inline-flex form-check form-switch ps-0 ps-sm-3 ps-xl-0 mb-3 mx-5">
fez ezez f e
	</div>

</div>
<div
	class="mx-auto">

	{# Smokers allowed switch #}
	<div class="d-inline-flex form-check form-switch ps-0 ps-sm-3 ps-xl-0 mb-4 mx-5">
ertertert
	</div>

	{# Pets allowed switch #}
	<div class="d-inline-flex form-check form-switch ps-0 ps-sm-3 ps-xl-0 mb-3 mx-5">
ezr ezre zrez
	</div>

</div>
