<div class="rounded-5 framed shadow-lg p-4 pt-3 pb-2">

	<h2 class="border-bottom border-2 border-primary pb-1 mb-3">
        Faisons
        <span class="text-nowrap">connaissance ...</span>
    </h2>

	<p>
		<span class="handwriting fw-bold">EcoRide</span>
		est une startup française dédiée à la promotion du
        <strong>covoiturage écologique</strong>.<br/>
		Notre plateforme facilite la mise en relation entre conducteurs et passagers pour des
        <strong>trajets respectueux de l'environnement</strong>,
        en privilégiant l'utilisation de véhicules écologiques, comme les
        <em>voitures électriques</em>.<br/>
		Notre mission :
        <strong>réduire l'empreinte carbone</strong>
        des déplacements tout en offrant une solution de transport
        <em>économique et pratique</em>.
	</p>

	<p>
		<span class="handwriting fw-bold">EcoRide</span>,
        c'est aussi et surtout une équipe passionnée et dévouée qui œuvre sans relâche
        pour offrir la meilleure expérience à nos utilisateurs.<br/>
        - <a href="#ourTeam" class="fst-italic scaleOnFocusAndHover">Découvrez l'équipe</a> -
	</p>

	<p>
		Rejoignez-nous dans cette aventure et devenez
        <strong>acteur d'un changement positif</strong>
        en adoptant le covoiturage avec
		<span class="handwriting fw-bold">EcoRide !</span><br/>
        - <a href="#carpoolSearch" class="fst-italic scaleOnFocusAndHover">Recherchez un covoiturage</a> -
	</p>

</div>
