<div class="rounded-5 framed shadow-lg p-4 pt-3 pb-2">

	<h2 class="border-bottom border-2 border-primary pb-1 mb-3">Qui sommes-nous ?</h2>

	<figure>
		<img src="{{ asset('images/team.jpg') }}" alt="Photo de l'équipe EcoRide" loading="lazy" class="mb-2" style="width: 100%; max-width: 750px;">
		<figcaption>
			Et voici l'équipe engagée, prête à relever tous les défis
            <span class="text-nowrap">de la mobilité durable.</span><br/>
			<span class="handwriting fw-bold">EcoRide</span>
			c'est
            <span class="text-nowrap">- de gauche à droite -</span>
			<em>
                <span class="text-nowrap">Mathilde, Emma, Axel, Esther,</span>
                <span class="text-nowrap">José, Cathy, Thomas et Yaël !</span>
            </em>
		</figcaption>
	</figure>

	<p>- <a href="#carpoolSearch" class="fst-italic scaleOnFocusAndHover">N'hésitez pas à nous contacter</a> -</p>

</div>
