<div class="container">

	<h2 class="d-md-none border-bottom border-2 border-primary mt-3 pb-1 mb-4">Pourquoi covoiturer ?</h2>
	<h2 class="d-none d-md-block border-bottom border-2 border-primary mt-3 pb-1 mb-4">
        Pourquoi adopter le covoiturage dès aujourd'hui ?
    </h2>

	<ul class="row mt-3">

		<li class="col-md-6 col-lg-3 px-4">
			<figure>
				<img src="{{ asset('images/icons/ecology.svg') }}" alt="Icône représentant les avantages écologiques du covoiturage" width="120" height="120" loading="lazy" class="mb-2">
                <hr class="d-none d-lg-block">
				<figcaption>
					Le covoiturage est un moyen simple et efficace de
                    <strong>réduire les émissions de CO₂</strong>
                    liées aux transports. En partageant un trajet, vous aidez à
                    <em>diminuer la pollution atmosphérique</em>
                    et à
                    <em>lutter contre le réchauffement climatique</em>.
				</figcaption>
			</figure>
		</li>

        <hr class="d-md-none">

		<li class="col-md-6 col-lg-3 px-4">
			<figure>
				<img src="{{ asset('images/icons/piggy-bank.svg') }}" alt="Icône représentant la réduction des émissions de CO₂ grâce au covoiturage" width="120" height="120" loading="lazy" class="mb-2">
                <hr class="d-none d-lg-block">
				<figcaption>
					Voyager à plusieurs permet de
                    <strong>diviser les coûts du carburant, des péages ou des frais d'entretien du véhicule</strong>.
                    Que vous soyez conducteur ou passager, le covoiturage est une solution
                    <em>économique et pratique</em> pour tous.
				</figcaption>
			</figure>
		</li>

        <hr class="d-lg-none">

		<li class="col-md-6 col-lg-3 px-4">
			<figure>
				<img src="{{ asset('images/icons/discussion.svg') }}" alt="Icône représentant le lien social créé grâce au covoiturage" width="120" height="120" loading="lazy" class="mb-2">
                <hr class="d-none d-lg-block">
				<figcaption>
					Le covoiturage est aussi une opportunité pour
                    <strong>créer du lien social</strong>.
                    Que ce soit pour échanger sur des sujets variés ou découvrir de nouvelles personnes
                    <em>partageant les mêmes valeurs</em>,
                    chaque trajet peut devenir une
                    <em>expérience enrichissante</em>.
				</figcaption>
			</figure>
		</li>

        <hr class="d-md-none mb-0">

		<li class="col-md-6 col-lg-3 px-4">
			<figure>
				<img src="{{ asset('images/icons/car-jam.svg') }}" alt="Icône représentant la réduction des embouteillages grâce au covoiturage" width="120" height="120" loading="lazy" class="mb-2">
                <hr class="d-none d-lg-block">
				<figcaption>
					Moins de voitures sur les routes signifie
                    <strong>moins de bouchons et moins de stress</strong>
                    lors de vos trajets. En covoiturant, vous participez à
                    <em>fluidifier le trafic</em>,
                    surtout dans les zones urbaines.
				</figcaption>
			</figure>
		</li>

	</ul>

</div>
