<p>
	Vous pouvez compléter votre profil, en renseignant les informations suivantes :
	<ul>
		<li>
			Vous pouvez compléter votre profil, en renseignant les informations suivantes :</li>
	</ul>
	Vous pouvez compléter votre profil, en renseignant les informations suivantes :
	<ul>
		<li>
			Vous pouvez compléter votre profil, en renseignant les informations suivantes :</li>
	</ul>
</p>
