$primary: #437a49;
$secondary: #d88629;

$color-1: #d8e9d9; // body backgound 1
$color-2: #afc9b3; // body backgound 2, focus shadow color
$color-3: #555555; // main text, nav-link, border
$color-4: #000000; // nav-link hover or focus
$color-5: #437a49; // nav-link active
$color-6: #36613b; // nav-link active hover or focus
