{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block main %}

	<div class="example-wrapper">
		<h2>Bonjour
			{{ app.user.pseudo }}</h2>

	</div>
{% endblock %}
