@import "flatpickr/dist/flatpickr.min.css";

$body-bg-first-color: $color-1;
$body-bg-second-color: $color-2;
$text-color: $color-3;
$border-color: $color-3;
$focus-shadow-color: $color-2;
$framed-bg-color: $color-7;
$popularRide-hover-color: $color-7;
$userBtn-color: white;
$userBtn-bg-color: $color-5;

$transition-link-transform-scale: 1.15;
$transition-link-transform-time: 0.2s;

* {
    font-family: "Helvetica Neue", "Helvetica", Arial, "Liberation Sans",
        "Segoe UI", Roboto, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $text-color;
    &:focus-visible {
        outline: 0 !important;
        box-shadow: 0 0 0 0.25rem $focus-shadow-color !important;
    }
}

body {
    padding-top: 56px;
    min-width: 320px;
    min-height: 100vh;
    background: $body-bg-first-color;
    background: linear-gradient(
        135deg,
        $body-bg-first-color 33%,
        $body-bg-second-color 66%
    );

    @media (min-width: map-get($grid-breakpoints, "md")) {
        padding-top: 62px;
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.framed {
    border: 1px solid $border-color;
    background-color: $framed-bg-color;
}

.handwriting {
    font-family: "Segoe Script", "Bradley Hand", "Lucida Handwriting",
        "Snell Roundhand", cursive;
}

.scaleOnFocusAndHover {
    display: inline-block;
    transition: transform $transition-link-transform-time ease-in-out !important;
    &:hover,
    &:focus {
        transform: scale($transition-link-transform-scale) !important;
    }
}

.userBtn[aria-expanded="true"] {
    background-color: $userBtn-bg-color;
    color: $userBtn-color;
}

#popularRides {
    li a:hover {
        background-color: $popularRide-hover-color;
    }
}

@media (max-width: map-get($grid-breakpoints, "sm")) {
    .rounded-xs-start {
        border-top-left-radius: 0.85rem !important;
        border-bottom-left-radius: 0.85rem !important;
    }
}

@import "_navbar.scss";
