$body-bg-first-color: $color-1;
$body-bg-second-color: $color-2;
$text-color: $color-3;
$focus-shadow-color: $color-2;

* {
    font-family: "Helvetica Neue", "Helvetica", Arial, "Liberation Sans",
        "Segoe UI", Roboto, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $text-color;
    &:focus-visible {
        outline: 0 !important;
        box-shadow: 0 0 0 0.25rem $focus-shadow-color !important;
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    background: $body-bg-first-color;
    background: linear-gradient(
        135deg,
        $body-bg-first-color 33%,
        $body-bg-second-color 66%
    );
}

@import "_navbar.scss";
