{% extends 'base.html.twig' %}

{% block title %}Trouvez votre prochain covoiturage avec EcoRide !
{% endblock %}

{% block main %}

	<header class="mt-5 pb-3" id="carpoolSearch">
		{% include "_common/carpoolSearchForm.html.twig" %}
	</header>

	<section class="container-lg framed rounded-lg-5 bg-light shadow mt-5 pt-4" id="carpoolSearchResults">
		{% if carpoolSearchResults is not empty %}
			{% include "carpool/_searchResults.html.twig" %}
		{% else %}
			<div id="popularRides">
				{% include "_common/popularRides.html.twig" %}
			<div>
		{% endif %}
	</section>

{% endblock %}
