{% extends 'base.html.twig' %}

{% block title %}Contactez les équipes d'EcoRide{% endblock %}

{% block main %}
	<section class="container d-flex flex-row justify-content-center align-items-center flex-fill" id="contactForm">
		{% include "contact/_form.html.twig" %}
	</section>
{% endblock %}
