<h3 class="border-bottom mx-5 mb-4">Voiture</h3>

<p class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-5">
	<span class="fw-bold mx-3">{{ carpool.carModel ~ ' - ' ~ carpool.carColor }}</span>
	<small class="fst-italic mx-3">({{ carpool.carBrand  ~ ' - véhicule ' ~ carpool.carEngineType }})</small>
</p>
