{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="container-fluid bg-light border-top border-bottom">
			<div class="container mt-3 flash-{{ label }} alert text-center rounded {{ label == 'error' ? 'alert-danger' : 'alert-' ~ label }}" role="alert">
				{{ message|raw}}
			</div>
		</div>
	{% endfor %}
{% endfor %}
