{% set isFirstFlash = true %}
{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="container-fluid bg-light border-top border-bottom pt-0"
        {{ isFirstFlash ? 'style="padding-top: 12px;"' : '' }}>
			<div class="container mt-3 flash-{{ label }} alert text-center rounded
            {{ label == 'error' ? 'alert-danger' : 'alert-' ~ label }}" role="alert">
				{{ message|raw }}
			</div>
		</div>
		{% set isFirstFlash = false %}
	{% endfor %}
{% endfor %}
