{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="container-fluid bg-light border-top border-bottom border-primary">
			<div class="container mt-3 flash-{{ label }} alert text-center rounded {{ label == 'success' ? 'alert-success' : 'alert-danger' }}" role="alert">
				{{ message|raw}}
			</div>
		</div>
	{% endfor %}
{% endfor %}
