<h1>Bonjour !</h1>

<p>
	Pour réinitialiser votre mot de passe, Veuillez visiter la page suivante :
</p>

<a href="https://ecoride.site/reinitialisation-mot-de-passe/validation/{{ resetToken.token }}">
	https://ecoride.site/reinitialisation-mot-de-passe/validation/{{ resetToken.token }}
</a>

<p>
	Ce lien expire dans
	{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>

<p>
	@bientôt sur EcoRide !
</p>
